@import '../../App.scss';

.rhap_container  {
  background-color: $element;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.rhap_main {
  flex-direction: column;
}

.rhap_container:focus, 
.rhap_container > * :focus {
  outline: none;
}

.rhap_controls-section > * {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.rhap_additional-controls {
  display: none;
}

.rhap_main-controls-button {
  color: $inputColor;
}

.rhap_time {
  color: $text;
}

@media (max-width: 767px) {
  .rhap_progress-section {
    margin-bottom: 20px;
  }

  .rhap_main-controls {
    justify-content: left;
  }

  .rhap_main {
    flex-direction: column;
  }
}
