@import '../../App.scss';

.bird {
  display: flex;
  flex-direction: column;
}

.bird-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.bird-main p {
  margin: 0;
}

.bird-pic {
  flex: 1;
  margin-right: 20px;
}

.bird-pic img {
  border-radius: $radius;
  width: 200px;
  height: 155px;
  object-fit: cover;
}

.bird-name-player {
  flex: 4;
}

.bird-description {
  line-height: 22px;
}

@media (max-width: 1024px) {
  .bird-main { 
    flex-direction: column;

    .bird-pic {
      text-align: center;
    }

    h3, p {
      text-align: center;
    }
  }
}