@import '../../App.scss';

.birds-list {
  padding: 0 !important;
}

.birds-list-item {
  display: flex;
  flex-direction: row;
  padding: $elementPadding + 3;
  border-bottom: 1px solid $borderColor;
  cursor: pointer;
}

.birds-list-item:hover {
  background-color: $elementHovered;
}

.birds-list-item:last-child {
  border-bottom: 0;
}

.birds-list__dot-container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.birds-list__dot {
  border-radius: 10px;
  height: 10px;
  width: 10px;
}